@import './fonts.css';
@import './themes.css';

* {
  margin  : 0;
  padding : 0;
}

body {
  background-color : var(--HEXTECH-BLACK);
  padding          : 0 !important;
  margin           : 0 !important;
  float            : none !important;
  width            : 100vw;
  min-height       : 100vh;
}

h1, h2, h3, h4, h5 {
  font-family : 'Beaufort';
  color       : var(--GOLD-1);
}

p, span {
  font-family : 'Spiegel';
  color       : var(--GREY-1);
}

.page {
  position          : absolute;
  top               : 50%;
  left              : 0;
  right             : 0;
  margin            : auto;
  -webkit-transform : translateY(-50%);
  -ms-transform     : translateY(-50%);
  transform         : translateY(-50%);
}
