:root {
  /* Blue Color Palette */
  --BLUE-1 : #CDFAFA;
  --BLUE-2 : #0AC8B9;
  --BLUE-3 : #0397AB;
  --BLUE-4 : #005A82;
  --BLUE-5 : #0A323C;
  --BLUE-6 : #091428;
  --BLUE-7 : #0A1428;

  /* Gold Color Palette */
  --GOLD-1 : #F0E6D2;
  --GOLD-2 : #C8AA6E;
  --GOLD-3 : #C8AA6E;
  --GOLD-4 : #C89B3C;
  --GOLD-5 : #785A28;
  --GOLD-6 : #463714;
  --GOLD-7 : #32281E;

  /* Grey Color Palette */
  --GREY-1        : #A09B8C;
  --GREY-1-5      : #5B5A56;
  --GREY-2        : #3C3C41;
  --GREY-3        : #1E2328;
  --GREY-COOL     : #1E282D;
  --HEXTECH-BLACK : #010A13;
}
