@import '../../styles/fonts.css';
@import '../../styles/themes.css';

#search-bar-container {
  padding : 0 40px;
}

#search-bar {
  margin           : 0 auto;
  padding          : 10px;
  max-width        : 800px;
  min-width        : 250px;
  background-color : rgba(var(--BLUE-6-RGB), 0.9);
  border           : 1px solid var(--BLUE-5);
  display          : flex;
  flex-direction   : row;
  gap              : 10px;
  
}

.descriptor {
  font-style : italic;
  font-size  : 14px;
}

#search-region, #search-username {
  display        : flex;
  gap            : 2px;
  flex-direction : column;
}

#search-region select {
  border           : 0;
  background-color : inherit;
  color            : var(--BLUE-1);
  font-size        : 16px;
  overflow         : hidden;
  text-overflow    : ellipsis;
}
@media (max-width: 768px) {
  select {
    width : 80px;
  }
}

#search-region select:hover {
  cursor           : pointer;
  background-color : var(--HEXTECH-BLACK);
}

#search-username {
  flex : 1;
}

#search-bar button {
  border           : 2px solid var(--GOLD-4);
  padding          : 0 10px;
  font-family      : 'Beaufort';
  font-weight      : 700;
  color            : var(--GOLD-1);
  background-color : var(--GOLD-5);
}

#search-bar button:hover {
  cursor           : pointer;
  background-color : var(--GOLD-6);
  border-color     : var(--GOLD-5);
}

#search-bar input, 
#search-bar input:focus{
  border           : 0;
  outline          : none;
  width            : 100%;
  background-color : inherit;
  color            : var(--BLUE-1);
  font-size        : 16px;
}